.w3-row
  .w3-col.m6
    .w3-container.w3-center(style='padding:40px 16px;background-color:#EDF5E1') 
      h1.w3-large An investment in knowledge pays the best interest.
      p.w3-large Benjamin Franklin
  .w3-col.m6
    .w3-container.w3-center(style='padding:40px 16px;background-color:#41b3a3') 
      h1.w3-large Never stop learning
      p.w3-large wishtara    
hr
