footer.w3-container.w3-padding-32.w3-dark-grey(style='padding:40px 16px')
  .w3-row
    .w3-container.w3-quarter
      img(src="/images/map.png" width="300")
      p
        i.fa.fa-map-marker.fa-lg  Hyderabad, India
      p
        i.fa.fa-phone.fa-lg   +91 80086 19997
      p
        i.fa.fa-globe.fa-lg   www.wishtara.com    
    .w3-container.w3-quarter
      p(style="font-size:20px;") Useful Links
        div
          p
            a About Us
          p
            a(href='/blog') Blog
          p
            a Contact
          p
            a(href='/') Tutorials
          p
            a FAQs 
          p
            a(href='/events') Events      
    .w3-rest
      .w3-margin
        .w3-container.w3-padding
          h4 Follow Us
          hr
        .w3-container.w3-xlarge.w3-padding
          i.fa.fa-facebook-official.w3-hover-opacity(style="margin-right:10px;")
          i.fa.fa-instagram.w3-hover-opacity(style="margin-right:10px;")
          i.fa.fa-snapchat.w3-hover-opacity(style="margin-right:10px;")
          i.fa.fa-pinterest.w3-hover-opacity(style="margin-right:10px;")
          i.fa.fa-twitter.w3-hover-opacity(style="margin-right:10px;")
          i.fa.fa-linkedin.w3-hover-opacity(style="margin-right:10px;")
    