.w3-container
  .mySlides
    header.w3-container.w3-light-grey.w3-center(style='padding:40px 16px') 
    h1.w3-margin.w3-xxxlarge.w3-padding-64 NEVER STOP LEARNING 
  .mySlides
    header.w3-container.w3-light-grey.w3-center(style='padding:40px 16px') 
    h1.w3-margin.w3-xxxlarge.w3-padding-64 MAKE IT AS SIMPLE AS POSSIBLE, BUT NOT SIMPLER
    p.w3-medium Albert Einstein 
  .mySlides
    header.w3-container.w3-light-grey.w3-center(style='padding:40px 16px') 
    h1.w3-margin.w3-xxxlarge.w3-padding-64 AN INVESTMENT IN KNOWLEDGE PAYS THE BEST INTEREST.
    p.w3-medium Benjamin Franklin 
