extends ../layout

block content
  header.w3-container.w3-light-grey.w3-center(style='padding:40px 16px') 
    h1.w3-margin.w3-jumbo Develop your first nodejs RESTFUL API’s
    p.w3-xlarge Author: Balaji Hambeere
  .w3-content.w3-margin-top.w3-card.w3-padding
    .w3-row-padding
      .w3-col.m3
        input.w3-input.w3-border(type="text" placeholder="tags")
      .w3-col.m4
        input.w3-input.w3-border(type="text" placeholder="posts")
      .w3-col.m3
        input.w3-input.w3-border(type="text" placeholder="titles")
      .w3-col.m2
        button.w3-button.w3-block.w3-black(type="button" ) Find Post
  .w3-row
    .w3-col.l8.s12(style='padding-left:100px;padding-top:16px')
      .w3-card-4.w3-margin.w3-white
        img(src='/images/course-title.jpg' alt="nodejs RESTFUL API" style="width:100%" height="300")
        .w3-container
          h3 
            b TITLE HEADING
          h5 Title description
            span April 7, 2014
        .w3-container
          p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                        euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                        ultricies mi non congue ullam corper. Praesent tincidunt sed
                        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida
                        diam non fringilla.
          .w3-row
            .w3-col.m8.s12
              p
                button.w3-button.w3-padding-large.w3-white.w3-border
                  b READ MORE »
            .w3-col.m4.w3-hide-small
              p
                span.w3-padding-large.w3-right
                  b Comments
                    span.w3-badge 2     
      .w3-card-4.w3-margin.w3-white
        img(src='/images/course-title.jpg' alt="nodejs RESTFUL API" style="width:100%" height="300")
        .w3-container
          h3 
            b TITLE HEADING
          h5 Title description
            span April 7, 2014
        .w3-container
          p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                        euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                        ultricies mi non congue ullam corper. Praesent tincidunt sed
                        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida
                        diam non fringilla.
          .w3-row
            .w3-col.m8.s12
              p
                button.w3-button.w3-padding-large.w3-white.w3-border
                  b READ MORE »
            .w3-col.m4.w3-hide-small
              p
                span.w3-padding-large.w3-right
                  b Comments
                    span.w3-badge 2
    .w3-col.l4(style='padding-top:16px')
      .w3-card.w3-margin
        .w3-container.w3-padding
          h4 Recent Posts